@import './reset.css';

.container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.character-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}


.character-card img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.characters-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}
